#page-title {
  display: inline;
  font-family: serif;
  color: #00617c;
}

h3 {
  font-style: bold;
  margin-left: 10px;
  margin-right: 10px;
}
h5 {
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
}

.top-bar {
  background-color: rgb(245, 237, 214);
}

.menuText {
  background-color: rgb(245, 237, 214);
}
.menu:hover {
  border: none;
}
.menu {
  padding: 0;
}

.scroll {
  border-left: 7px solid tomato;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px;
  background-color: rgb(245, 237, 214);
  opacity: 0.8;
  width: 500px;
  height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

#foodPic {
  padding-top: 10px;
}
#footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  margin-bottom: 0px;
  bottom: 0px;
  background-color: rgb(245, 237, 214);
  width: 100%;
  text-align: center;
  color: #4ac4e2;
}
#inputSearch,
#searchButton {
  display: inline;
  margin-right: 0;
  margin-left: 0;
}
p {
  margin-bottom: 100px;
}
