

body {
    background-color:rgb(238,238,238);
}

h3 {
    font-style: bold;
}
h5 {
    font-style: italic;
}

#responsive-menu {
    background-color: rgb(245, 237, 214);
  }
  .menuText {
    background-color: rgb(245, 237, 214);
  }